.section7{
    width: 100%;
    border: 1px solid black;
    height: 200px;
    .container{
border: 1px solid black;
height: 200px;
display: flex;
align-items: center;
justify-content: space-between;
.info{
    display: flex;
    align-items: center;
    height: 100px;
    width: 265px;
    gap: 15px;
    background-color: 
    RGB(243, 243, 243);
    .detail{
        
        #free{
            font-size: 12px;
        }
    }
}
}
}