.section4{
    border: 1px solid black;
    width: 100%;
    min-height: 500px;
    .container{
        min-height: 500px;
        gap: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}